<div class="form login">
  <form class="login-form"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(ff.form.valid && this.loginForm)"
        #ff = "ngForm">
    <div class="form__row">
      <label>
        <span class="form-username">username</span>
        <input type="text" formControlName="username">
      </label>
      <div class="form-errors" *ngIf="!!f.username.invalid">
        Поле username введен не правильно
      </div>
    </div>
    <div class="form__row">
      <label>
        <span class="form-password">password</span>
        <input type="password" formControlName="password">
      </label>
      <div class="form-errors" *ngIf="!!f.password.invalid">
        Поле password введен не правильно
      </div>
    </div>
    <div class="form__row">
      <input type="submit" class="form-submit" value="Войти">
    </div>
    <div class="form__row.message" *ngIf="isLoggednIn()">
      <span></span>
    </div>
  </form>
</div>
