<div class="home-content">
  <ul class="home-content-posts" *ngIf="isLoggedIn();">
    <li class="home-content-posts__item">
      1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate, laboriosam libero magnam nostrum rem veniam! Accusamus adipisci distinctio ea, enim esse laboriosam minima molestias neque officiis pariatur quasi temporibus!
    </li>
    <li class="home-content-posts__item">
      2. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cupiditate debitis dolorum eaque error incidunt ipsam itaque iusto minus mollitia nulla, placeat praesentium quod totam, ut! Aspernatur debitis neque pariatur?
    </li>
  </ul>
</div>
